form .form-group.invalid input,
form .form-group.invalid select,
.form-group.invalid input[form] {
    border-color: #dc3545;
}
form .form-group.invalid input:focus,
form .form-group.invalid select:focus,
.form-group.invalid input[form]:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}
.invalid .invalid-feedback {
    display: block;
}